.sidenav {}
.sidenav a {
    padding-left: 10px;
    color: #fff;
    display: block;
}
.sidenav li {
    line-height: 30px;
    border-left: solid 3px #364150;
}

.sidenav li:hover {
    border-left: solid 3px #2aabd2;
}