body {
    margin: 0;
    padding: 0;
    min-width: 768px;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body, ul, li, a {
    padding: 0;
    margin: 0;
}
a:hover, a:link, a:active {
    text-decoration: none;
}
ul {
    list-style: none;
}
/*
***** Topbar *****
*/
.topbar {
    background-color: #0c0c0c;
    min-height: 30px;
}

/*
***** Sidebar *****
*/
.sidebar {
    background-color: #364150;
    height: 100%;
    overflow: auto;
    position: fixed;
    top:30px;
    width: 200px;
}
/*
***** Wrapper *****
*/
.wrapper {
    min-height: 100%;
    position: relative;
    overflow: hidden;
    margin-left: 200px;
}
/*
***** Container *****
*/
.container {
    margin-top: 30px;
    min-height: 916px;
    min-width: 568px;
    width: 100%;
}
/*
***** Footer *****
*/
#footer {
    background-color: #364150;
    bottom: 0px;
    height: 35px;
    position: fixed;
    width: 100%;
}
#footer p {
    margin: 10px 0;
}